<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="images/fav.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Informations about the database for the admin only">
  <meta name="author" content="Abdellah Sabry">
  <title>Instagram Application</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/style.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation, on touche plus-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Instagram Database</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link" href="/users">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Users page</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Analyst">
          <a class="nav-link" href="/analyst">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Analyst page</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Admin">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Admin page</span>
          </a>
        </li>
      </ul> <!--menu avec les choix qu'on a -->
      <ul class="navbar-nav sidenav-toggler"> <!-- toggle button en bas de la page -->
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <img width="55px" height="42px" src="images/logo.png">
      </ul>  <!-- instagram logo en haut a droite -->
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Admin</li>
      </ol>
      <div id="loading" style="position:relative; display:none; width:100%; height:100%"> </div>
      <div id="content">
          <h1>Connexion</h1>
          <hr>
          <h6>Connexion is currently <b><%= status %></b> </h6>
          <p> <%- description %> </p>
          <form id="form" action="/" method="post"> <!-- path to mongo -->
            <div>
            <label for="path">
              You can create the connexion by giving us the path to the mongodb executable.
              If you check the box, we will re-create the database file in the mongodb server.
              <br>
              <font color="red"> If it's taking more than 5 seconds OR the statistics table is empty, please restart the server. </font>
            </label>
            <div class="input-group">
              <span class="input-group-addon">
                <input class="pointer" type="checkbox" aria-label="Checkbox for re-create the database" name="recreate" id="recreate">
              </span>
              <input type="text" class="form-control" placeholder="Exemple: C:\Mongo\db\bin" name="path" id="path">
              <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit" id="submit" class="button">Create!</button>
              </span>
            </div>
          </div>
          </form>
          <hr class="sep">
          <h1>Statistics</h1>
          <hr>
          <% if(status=="up" && stats.length != 0){ %>
          <div class="card mb-3">
           <div class="card-header">
             <i class="fa fa-table"></i> Statistics</div>
           <div class="card-body">
             <div class="table-responsive">
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <tbody>
                     <% var newkeys= [] %>
                     <% if(stats.length!= 0) newkeys = Object.keys(stats);%>
                     <% for(var i=0; i < newkeys.length; i++){ %>
                        <tr>
                           <td><%= newkeys[i] %></td>
                           <% if(newkeys[i] == "Queries launched by user"){ %>
                              <td>Users launched <%- stats[newkeys[i]]["filter"] %> filter queries and <%- stats[newkeys[i]]["defined"] %> defined queries.</td>
                            <%}else if(newkeys[i] == "Queries launched by the analysts"){ %>
                               <td>Analysts launched <%- stats[newkeys[i]] %> queries.</td>
                           <%}else{%>
                           <td><%- stats[newkeys[i]] %></td>
                          <%}%>
                       </tr>
                     <%}%>
                 </tbody>
               </table>
             </div>
           </div>
           <div class="card-footer small text-muted" id="lastupdated"></div>
          </div>
          <% } else{%>
            <h6><i> Connexion is currently down, no statistics available. </i> </h6>
          <% } %>
        </div>
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Abdellah Sabry, Raméz Aissaoui, Etienne Chevrier 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i></a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/style.min.js"></script>
    <form action="/" method="post" id="autoform" style='display:none'><input name="beforeTreatement" id="beforeTreatement"></form>'
  </div>

  <script>
   if(document.getElementById("lastupdated") != null){
        var currentdate = new Date();
        var datetime =   currentdate.getDate() + "/"
                        + (currentdate.getMonth()+1)  + "/"
                        + currentdate.getFullYear() + " at "
                        + currentdate.getHours() + "h"
                        + currentdate.getMinutes() + "m"
                        + currentdate.getSeconds()+"s";
        document.getElementById("lastupdated").innerHTML = "Last updated in <i>"+ datetime+ "</i>.";
    }
   function load(){
     if(loading.style.display  == "none"){
         $("#content").hide();
         $("#loading").show();
     }
     else{
       $("#loading").hide();
       $("#content").show();
     }
   }
   function waitFunction(){
        var start = new Date().getTime();
        var parentOfImg = document.getElementById('loading');
        if($("#loading > img").length == 0){
        	var img = document.createElement("img");
        	img.src = "images/source.gif";
          img.style ="margin-left: auto;margin-right: auto; display: block; vertical-align:middle;";
        	parentOfImg.appendChild(img);
          setTimeout( function(){
              $("#loading").empty();
              img.src = "images/loading.gif";
              img.style ="width:45%; margin-left: auto;margin-right: auto; display: block;";
              parentOfImg.appendChild(img);
          }, 2000 );
        }
    }
   $("#form").submit(function( event ) {
      load();
      waitFunction();
   });
   $('a[href="/"]').click(function(){
     load();
     waitFunction();
   });
   $(document).ready($("#autoform").submit(function(){
     load();
     waitFunction();
   }));
   window.onload = function(){
      if(<%= get %> == 1){
          $("#autoform").submit();
      }
    }



  </script>
</body>

</html>
