<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="images/fav.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Light queries that any user can execute to extract informations">
  <meta name="author" content="Abdellah Sabry">
  <title>Instagram Application</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/style.css" rel="stylesheet">
  <!--charts -->
  <script src="vendor/chart.js/Chart.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation, on touche plus-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Instagram Database</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link" href="/users">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Users page</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Analyst">
          <a class="nav-link" href="/analyst">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Analyst page</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Admin">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Admin page</span>
          </a>
        </li>
      </ul> <!--menu avec les choix qu'on a -->
      <ul class="navbar-nav sidenav-toggler"> <!-- toggle button en bas de la page -->
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <img width="55px" height="42px" src="images/logo.png">
      </ul>  <!-- instagram logo en haut a droite -->
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="brea dcrumb-item active">Users</li>
      </ol>
      <div id="loading" style="display:none; width:100%; height:100%"></div>
      <div id="content">
          <hr class="sep">
          <!-- create the query here-->
          <div class="card mb-3">
              <div class="card-header">QUERY</div>
              <div class="card-body">
                <p> You may filter users with some basic filter in this form. For more complex queries, please refer to the dropbox in the second section below. </p>
                <h6><i> Instagramer informations</i> </h6>
                <form action="/users" method="post" id="form">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="country">User's country</label>
                      <input type="text" class="form-control" name="country" id="country" placeholder="France">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="nbCountry">Number of user visited country</label>
                      <input type="text" class="form-control" name="nbCountry" id="nbCountry" placeholder="2">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="totImgs">Number of user's total images</label>
                      <input type="text" class="form-control" name="totImgs" id="totImgs" placeholder="10">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="junImgs">Number of user's June images</label>
                      <input type="text" class="form-control" name="junImgs" id="junImgs" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="visitedName">Location's name user have visited at least once</label>
                      <input type="text" class="form-control" name="visitedName" id="visitedName" placeholder="Fontaine des Innocents">
                    </div>

                  </div>
                  <hr>
                  <h6><i> Instagramer's june photographies (having at least one that match with filters) </i> </h6>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="address">Location's address</label>
                      <input type="text" class="form-control" name="address" id="address" placeholder="2 Route du Champ de Manoeuvre, Paris">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="name">Location's name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Parc Floral de Paris">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="date">Photography's date</label>
                      <input type="text" class="form-control" name="date" id="date" placeholder="2014-06-21 20:14:53">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="coord">Photography's coordinates</label>
                      <input type="text" class="form-control" name="coord" id="coord" placeholder="48.8354904,2.4501494">
                    </div>
                    <div class="form-group col-md-1">
                      <label for="coord">Radius</label>
                      <input type="text" class="form-control" name="radius" id="radius" placeholder="200">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="type">Monument type</label>
                      <input type="text" class="form-control" name="type" id="type" placeholder="point_of_interest">
                    </div>
                    <div class="form-group col-md-1">
                      <label for="rating">Rate (greater)</label>
                      <input type="text" class="form-control" name="rating" id="rating" placeholder="3.9">
                    </div>
                  </div>
                  <div class="col text-center">
                      <button type="submit" class="btn btn-primary">Launch query</button>
                  </div>
                  </form>
              </div>
              <div class="card-footer small text-muted"> Table of <b>instagramers</b> having at least one match with filters.</div>
          </div>
          <hr class="sep">
          <div class="card mb-3">
              <div class="card-header">PREPARED QUERY</div>
              <div class="card-body">
                  <p> This is the second section, where you can choose any of our prepared queries to execute. </p>
                  <form action="/users" method="post" id="secForm">
                    <div class="form-group">
                      <label for="query">Prepared queries:</label>
                      <select class="form-control" name="query" id="query" onchange="submitSec();">
                        <option value=''>None</option>
                        <option value=
                          '{
                              "type":"agg",
                              "plot":{"type":"bar","label":"Instagramers origin","labels":"nationality","data":"count"},
                              "countdoc" : 1,
                              "query":  [
                                            { "$group": { "_id": "$nationality", "count":{"$sum":1}}},
                                            { "$project": {
                                                "_id":0,
                                                "nationality": "$_id",
                                                "count": 1,
                                                "percentage": {
                                                    "$concat": [ { "$substr": [ { "$multiply": [ { "$divide": [ "$count", {"$literal": "countdoc" }] }, 100 ] }, 0,5] }, "", "%" ]}
                                                }
                                            },
                                            { "$sort": { "count": -1}}
                                        ]
                            }'
                          >Quelle est l'origine des utilisateurs les plus fréquent sur Paris au mois Juin 2014?</option>
                        <option value=
                          '{
                              "type":"agg",
                              "plot":{"type":"line","label":"Number of photographies","labels":"day","data":"nbPhotography"},
                              "query":  [
                                          { "$geoNear": {"near": { "type": "Point", "coordinates": [2.294576168, 48.858362295]},"distanceField": "dist.calculated","maxDistance": 10,"spherical": true}},
                                          { "$unwind": "$photos"},
                                          { "$group": {"_id": { "$dayOfMonth": "$photos.dateCreation"}, "photography": { "$sum": 1 } } },
                                          { "$sort": { "_id": 1}},
                                          { "$project": {"_id":0,"day":{"$concat": [ { "$substr": ["$_id",0,2] }, "-", "06" ]} , "nbPhotography": "$photography" }}
                                        ]
                            }'
                          >Combien d'utilisateurs visitent la Tour Eiffel tous les jours ? Donnez une proportion sur les journées.</option>
                        <option value=
                          '{
                              "type":"find",
                              "query":{
                                  "query": { "$and" : [ {"historique.name":{ "$regex" : "Arc de Triomphe","$options" : "i"}},
                                					 {"historique.name":{ "$regex" : "Place du Trocadéro","$options" : "i"}}
                                				               ]},
                                "project": {"_id":0,"idUser":1,"historique":1}
                              }
                            }'
                          >Les utilisateurs ont déjà visité l'Arc de Triomphe ET la place du Troacdéro.</option>
                        <option value=
                            '{
                                "type":"agg",
                                "plot":{"type":"horizontalBar","label":"number of photographies","labels":"nationality","data":"nbPhotography"},
                                "query":  [
                                            { "$geoNear": {"near": { "type": "Point", "coordinates":[2.335817814, 48.860959845]},"distanceField": "dist.calculated","maxDistance": 10,"spherical": true}},
                                            { "$unwind": "$photos"},
                                            { "$group": {"_id":"$nationality", "photography":{"$sum": 1}}},
                                            { "$project": {"_id":0,"nationality":"$_id", "nbPhotography": "$photography" }},
                                            { "$sort": { "nbPhotography": -1}}
                                          ]
                              }'
                         >Qui visite Le Louvre le plus souvent ? Regroupez les résultats par nationalité.</option>
                        <option value=
                             '{
                                 "type":"agg",
                                 "plot":{"type":"horizontalBar","label":"Average rate","labels":"lieu","data":"moy_rate"},
                                 "query":  [
                                              {"$unwind": "$photos"},
                                              {"$match": { "$or":[ {"photos.type": { "$regex" : "food","$options" : "i"}},{"photos.type": { "$regex" : "restaurant","$options" : "i"}},{"photos.type": { "$regex" : "meal_delivery","$options" : "i"}},{"photos.type": { "$regex" : "cafe","$options" : "i"}}]}},
                                              {"$group": {"_id":"$photos.name", "moy_avg":{"$avg": "$photos.rating"}, "count":{"$sum":1}}},
                                              {"$match": {"count":{ "$gt": 100 }}},
                                              { "$project": {"_id":0,"lieu":"$_id", "moy_rate": "$moy_avg", "count_photos": "$count" }},
                                              { "$sort": { "moy_rate": -1}}
                                           ]
                               }'
                         >Trouver les lieux de type "food" ou "cafe" ou "restaurant" ou "meal_delivery"  les mieux notés de Paris.</option>
                        <option value=
                             '{
                                 "type":"agg",
                                 "plot":{"type":"bar","label":"Number of UK visited this type","labels":"type","data":"count"},
                                 "query":  [
                                              {"$match":{"nationality":"United Kingdom"}},
                                              {"$unwind": "$photos"},
                                              {"$unwind": "$photos.type"},
                                              {"$group": {"_id":"$photos.type", "count":{"$sum":1}}},
                                              { "$project": {"_id":0,"type":"$_id", "count": "$count" }},
                                              { "$sort": { "count": -1}}
                                           ]
                               }'
                          >Donner le type de lieu où les anglais aiment le plus souvent poster sur Instagram.</option>
                        <option value=
                               '{
                                   "type":"agg",
                                   "plot":{"type":"bar","label":"Average of visited countries","labels":"nationality","data":"avg_cntry_visites"},
                                   "query":  [
                                                {"$group": {"_id":"$nationality", "moy_pays":{"$avg":"$nbPays"},"count":{"$sum":1}}},
                                                { "$project": {"_id":0,"nationality":"$_id", "avg_cntry_visites": "$moy_pays","nbOfPeople": "$count" }},
                                                { "$sort": { "avg_cntry_visites": -1}}
                                             ]
                                 }'
                            >Calculer les moyennes de pays visités par nationalité.</option>
                        <option value=
                                 '{
                                     "type":"agg",
                                     "plot":{"type":"bar","label":"Average using of instagram","labels":"nationality","data":"avg_use_per_user"},
                                     "query":  [
                                                  {"$group": {"_id":"$nationality", "avg_use":{"$avg":"$nbTotalImages"},"count":{"$sum":1}}},
                                                  {"$project": {"_id":0,"nationality":"$_id", "avg_use_per_user": "$avg_use","nbUsers":"$count"}},
                                                  {"$sort": { "avg_use_per_user": -1}}
                                               ]
                                   }'
                              >Calculer la moyenne d'utilisation d'instagram de chaque nationliaté.</option>
                        <option value=
                                   '{
                                       "type":"agg",
                                       "plot":{"type":"line","label":"Number of photographies","labels":"day","data":"nbPhotography"},
                                       "query":  [
                                                    { "$match":{"nationality":"United States"}},
                                                    { "$unwind": "$photos"},
                                                    { "$group": {"_id": { "$dayOfWeek": "$photos.dateCreation"}, "photography": { "$sum": 1 } } },
                                                    { "$sort": { "_id": 1}},
                                                    { "$project" : {"_id":0,"nbPhotography": "$photography", "day": {"$cond" : [{"$eq" : [ 1,"$_id"]},"Dimanche",
                                                             {"$cond" : [{"$eq" : [2,"$_id"]},"Lundi",
                                                             {"$cond" : [{"$eq" : [3,"$_id"]},"Mardi",
                                                             {"$cond" : [{"$eq" : [4,"$_id"]},"Mercredi",
                                                             {"$cond" : [{"$eq" : [5,"$_id"]},"Jeudi",
                                                             {"$cond" : [{ "$eq" : [ 6,"$_id"]},"Vendredi",
                                                             "Samedi"]}]}]}]}]}]}
                                                    }}
                                                 ]
                                     }'
                                >Trouver le jour de la semaine preferé des Americains.</option>
                        <option value=
                                     '{
                                         "type":"agg",
                                         "plot":{"type":"line","label":"Number of photographies","labels":"day,hour","data":"nbPhotography"},
                                         "query":  [
                                                      {"$unwind": "$photos"},
                                                      { "$group": {"_id": {"day":{ "$dayOfWeek": "$photos.dateCreation"},"hour":{"$hour": "$photos.dateCreation"}}, "photography": { "$sum": 1 } } },
                                                      { "$sort": { "_id.day": 1,"_id.hour":1}},
                                                      { "$project" : {"_id":0,"nbPhotography": "$photography","hour":{"$concat": [ { "$substr": ["$_id.hour",0,2] }, "", "H" ]},
                                                         "day": {"$cond" : [{"$eq" : [ 1,"$_id.day"]},"Dimanche",
                                                               {"$cond" : [{"$eq" : [2,"$_id.day"]},"Lundi",
                                                               {"$cond" : [{"$eq" : [3,"$_id.day"]},"Mardi",
                                                               {"$cond" : [{"$eq" : [4,"$_id.day"]},"Mercredi",
                                                               {"$cond" : [{"$eq" : [5,"$_id.day"]},"Jeudi",
                                                               {"$cond" : [{ "$eq" : [ 6,"$_id.day"]},"Vendredi",
                                                               "Samedi"]}]}]}]}]}]}
                                                      }}
                                                   ]
                                       }'
                                  >Trouver le couple (heure, jour de la semaine) préferé des instagramers.</option>
                      </select>
                      <br>
                    </div>
                  </form>
              </div>
              <div class="card-footer small text-muted"> Table having <b>prepared queries</b> to be executed directly.</div>
            </div>

          <!-- results of the query here-->
          <% if(queried==1){ %>
              <br>
              <hr class="sep">
              <% if(error!=null){%>
                <h6><font color="red"> <%= error %></font> <h6>
              <% }%>
              <div class="card mb-3">
               <div class="card-header">
                 <i class="fa fa-table"></i> RESULTS</div>
               <div class="card-body">
                 <div class="table-responsive">
                   <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                           <tr>
                             <% var newkeys= [] %>
                             <% if(result.length!= 0) newkeys = Object.keys(result[0]); %>
                             <% for(var i=0; i < newkeys.length; i++){ %>
                                   <th><%= newkeys[i] %></th>
                             <% } %>
                           </tr>
                     </thead>
                     <tfoot>
                       <tr>
                         <% for(var i=0; i < newkeys.length; i++){ %>
                               <th><%= newkeys[i] %></th>
                         <% } %>
                       </tr>
                     </tfoot>
                     <tbody>
                       <% if(photos == true ){ %>
                          <% for(var i=0; i < result.length; i++) { %>
                                <% for(var k=0; k < result[i]["photos"].length; k++) { %>
                                    <tr>
                                    <% for(var j=0; j < newkeys.length; j++){ %>
                                          <% if(keys[j] == "photos"){ %>
                                                <td><%- result[i][newkeys[j]][k] %></td>
                                          <% }else{ %>
                                                <td><%= result[i][newkeys[j]] %></td>
                                          <% } %>
                                    <% } %>
                                   </tr>
                                <% } %>
                        <% } %>
                       <% } else { %>
                            <% for(var i=0; i < result.length; i++) { %>
                                  <tr>
                                  <% for(var j=0; j < newkeys.length; j++){ %>
                                        <td><%= result[i][newkeys[j]] %></td>
                                  <% } %>
                                 </tr>
                           <%} %>
                      <% } %>
                     </tbody>
                   </table>
                 </div>
               </div>
               <div class="card-footer small text-muted">We found <%= result.length %> results for your query.</div>
             </div>

             <!-- Example Bar Chart Card-->
             <% if( Object.keys(plot) != 0 ){ %>
             <div class="card mb-3">
               <div class="card-header">
                 <i class="fa fa-bar-chart"></i> RESULT PLOT</div>
               <div class="card-body">
                    <canvas id="myChart" width="100" height="50"></canvas>
               </div>
               <div class="card-footer small text-muted">DataViz of the query you asked for</div>
             </div>
             <!--chart -->
             <script type="text/javascript">
               Chart.defaults.global.defaultFontFamily='-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',Chart.defaults.global.defaultFontColor="#292b2c";
               if(document.getElementById("myChart") != null ){
                 var ctx=document.getElementById("myChart");
                 if(<%-plot['type'] == "line"%>) ctx.height=30;
                 var myLineChart=new Chart(ctx,{
                     type:"<%-plot['type']%>",
                     data:{
                     labels: <%-JSON.stringify(plot['labels'])%>,
                     datasets:[
                       {
                         label:"<%-plot['label']%>",
                         backgroundColor:"rgba(2,117,216,0.5)",
                         borderColor:"rgba(2,117,216,1)",
                         pointRadius:5,
                         pointBackgroundColor:"rgba(2,117,216,1)",
                         pointBorderColor:"rgba(255,255,255,0.8)",
                         pointHoverRadius:5,
                         pointHoverBackgroundColor:"rgba(2,117,216,1)",
                         pointHitRadius:20,
                         pointBorderWidth:2,
                         data:<%-JSON.stringify(plot['data'])%>
                      }
                    ]
                   },
                   options:{
                     scales:{
                       xAxes:[{gridLines:{display:!1}}],
                       yAxes:[{ticks:{min:0},gridLines:{display:!0,color:"rgba(0, 0, 0, .125)"}}]
                     },
                     legend:{display:!1}
                   }
                 })
               }
             </script>
             <%}%>

             <form action="/json" method="post" id="thiForm">
               <div class="col text-center">
                   <button type="submit" class="btn btn-block btn-basic">Get JSON object</button>
               </div>
             </form>
            <br>
          <% }%>
      </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Abdellah Sabry 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i></a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/style.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/datatables.min.js"></script>
    <!-- gif -->
    <script>
    function load(){
      if(loading.style.display  == "none"){
          $("#content").hide();
          $("#loading").show();
      }
      else{
        $("#loading").hide();
        $("#content").show();
      }
    }
    function waitFunction(){
         var start = new Date().getTime();
         var parentOfImg = document.getElementById('loading');
         if($("#loading > img").length == 0){
           var img = document.createElement("img");
           img.src = "images/source.gif";
           img.style ="margin-left: auto;margin-right: auto; display: block; vertical-align:middle;";
           parentOfImg.appendChild(img);
           setTimeout( function(){
               $("#loading").empty();
               img.src = "images/loading.gif";
               img.style ="width:45%; margin-left: auto;margin-right: auto; display: block;";
               parentOfImg.appendChild(img);
           }, 2000 );
         }
     }
    $("#form").submit(function( event ) {
       load();
       waitFunction();
    });
    $("#thiForm").submit(function( event ) {
      load();
      waitFunction();
    });
    $(document).ready($("#secForm").submit(function(){
      load();
      waitFunction();
    }));
    function submitSec(){
      $("#secForm").submit();
    }
    $('a[href="/"]').click(function(){
      load();
      waitFunction();
    });
    </script>
  </div>
</body>

</html>
